* {
  padding: 0;
  margin: 0;
  vertical-align:top;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:14px;
  font-weight:300;
  color:#222;
  outline:none;
}
body {
  word-break: break-all;
  box-sizing: border-box;
  height: 100vh;
}
a {
  text-decoration:none;
  display:inline-block;
}
ul, ol, li { 
  list-style-type:none;
}
button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
textarea {
  resize: none;
}
em {
  font-style: normal;
}
.clear::after{content:'';display:block;clear:both;}